@tailwind base;
@tailwind utilities;
@tailwind components;

.global-font {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: 400;
    font-size: large;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 1.5px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .2s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000)
}

.link-underline:hover {
    background-size: 100% 1.5px;
    background-position: 0 100%
}

.cover-underline {
    @apply flex flex-col w-fit link-underline link-underline-black text-black gap-1
}

.card {
    @apply m-2 items-center justify-center
}